//- Все примеси в этом файле должны начинаться c имени блока (button)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin button(type, title, mods, name, id, href)
  //- Принимает:
    //-   type    {string} - тип [input|button|submit|reset|link]
    //-   mods    {string} - список модификаторов
    //-   href    {string} - адрес, если тип «ссылка»
    //- Вызов:
          +button('button', 'primary', 'button-name', 'button-id')
          +button('link', 'primary', 'button-name', 'button-id', '#anchor')

  -
    // список модификаторов
    var href = href || '#';
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' button--' + modsList[i].trim();
      }
    }

  if type === 'link'

    a.button(class=allMods, id=id, title=title, aria-label=title, href=href)&attributes(attributes)
      block

  else

    button.button(class=allMods, type=type, name=name, id=id, title=title, aria-label=title)&attributes(attributes)
      block
